.ml-150 {
  margin-left: 9.38rem;
}
.ml-240 {
  margin-left: 15rem;
}
.page {
  padding-top: 5.81rem;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.image_3 {
  width: 100.3646vw;
  height: 58.8021vw;
}
.image {
  width: 85.56rem;
  height: 83.31rem;
}
.pos {
  position: absolute;
  right: -40.34rem;
  top: -32.46rem;
}
.image_5 {
  width: 85.81rem;
  height: 87.31rem;
}
.pos_6 {
  position: absolute;
  right: -36.89rem;
  bottom: -37.59rem;
}
.section_3 {
  padding: 0 14.88rem 7.81rem;
  background-color: #00000000;
  height: 69.63rem;
}
.pos_4 {
  position: absolute;
  left: 0;
  right: 0;
  top: 6rem;
}
.group_2 {
  margin-top: -1.19rem;
  width: 37.38rem;
}
.text-wrapper_3 {
  padding: 7.65rem 0 7.57rem;
  background-image: url('../../images/7d8fd5bdc959e76ede0e134a1f7dc91b.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 37.38rem;
}
.text_6 {
  color: #fcfee3;
  font-size: 1.88rem;
  font-family: Inknut Antiqua;
  font-weight: 700;
  line-height: 1.78rem;
}
.group_3 {
  margin-top: -11.5rem;
  padding-top: 9.75rem;
  width: 65.44rem;
}
.section_4 {
  background-color: #d9d9d9;
  width: 38.19rem;
  height: 47.75rem;
  border: solid 0.063rem #000000;
}
.text-wrapper_4 {
  padding: 16.27rem 0 15.98rem;
  background-image: url('../../images/8283cfc8b6422f0b7508983aea634701.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 35rem;
}
.pos_1 {
  position: absolute;
  right: 0;
  top: 18.19rem;
}
.font_2 {
  font-size: 2.19rem;
  font-family: Inter;
  line-height: 4.88rem;
  font-weight: 600;
  color: #000000;
}
.text_8 {
  line-height: 4.91rem;
  text-shadow: 0 0.063rem #ffe6bc, 0 -0.063rem #ffe6bc, 0.063rem 0 #ffe6bc, -0.063rem 0 #ffe6bc,
    0rem 0.25rem 0.25rem #00000040;
  transform: rotate(-19deg);
}
.image_4 {
  width: 35rem;
  height: 37.13rem;
}
.pos_10 {
  position: absolute;
  right: 0.94rem;
  top: 0;
}
.text_7 {
  text-shadow: 0 0.063rem #ffe6bc, 0 -0.063rem #ffe6bc, 0.063rem 0 #ffe6bc, -0.063rem 0 #ffe6bc,
    0rem 0.25rem 0.25rem #00000040;
}
.pos_7 {
  position: absolute;
  right: 13.42rem;
  top: 16.27rem;
  transform: rotate(-19deg);
}
.section {
  background-image: linear-gradient(90deg, #ecd0b2 0%, #f4ebdd 100%);
  height: 6rem;
}
.pos_2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.section_2 {
  padding: 0 3.37rem 0.13rem;
  background-image: linear-gradient(90deg, #ecd0b2 0%, #f4ebdd 100%);
  border: solid 0.063rem #908686;
}
.text {
  color: #3e50bd;
  font-size: 3rem;
  font-family: Inter;
  font-weight: 600;
  line-height: 2.21rem;
}
.group {
  margin-right: 1.01rem;
}
.text-wrapper {
  padding: 2.42rem 0 2.19rem;
  background-color: #ffffff00;
  overflow: hidden;
  width: 9.38rem;
  height: 6rem;
}
.font {
  font-size: 1.5rem;
  font-family: Inter;
  line-height: 1.39rem;
  color: #000000;
}
.text-wrapper_8 {
  padding: 2.43rem 0 2.19rem;
  background-color: #ffffff00;
  overflow: hidden;
  width: 9.38rem;
  height: 6rem;
}
.text_2 {
  line-height: 1.38rem;
}
.text-wrapper_2 {
  padding: 2.42rem 0 2.19rem;
  background-color: #ffffff00;
  overflow: hidden;
  width: 9.38rem;
  height: 6rem;
}
.text_3 {
  line-height: 1.39rem;
}
.text-wrapper_1 {
  padding: 2.43rem 0 2.18rem;
  background-color: #ffffff00;
  overflow: hidden;
  width: 9.38rem;
  height: 6rem;
}
.text_4 {
  line-height: 1.39rem;
}
.text-wrapper_5 {
  padding: 2.43rem 0 2.19rem;
  background-color: #ffffff00;
  overflow: hidden;
  width: 9.38rem;
  height: 6rem;
}
.text_5 {
  line-height: 1.39rem;
}
.image_2 {
  margin-top: 0.19rem;
  margin-bottom: 0.19rem;
  mix-blend-mode: MULTIPLY;
  width: 6rem;
  height: 5.63rem;
}