.ml-150 {
  margin-left: 9.38rem;
}
.ml-240 {
  margin-left: 15rem;
}
.page {
  padding-top: 5.81rem;
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.image_3 {
  width: 100vw;
  height: 58.1771vw;
}
.image {
  width: 84.06rem;
  height: 80.69rem;
}
.pos {
  position: absolute;
  left: -15.81rem;
  top: -35.5rem;
}
.section_3 {
  background-color: #00000000;
  height: 69.63rem;
}
.pos_4 {
  position: absolute;
  left: 0;
  right: 0;
  top: 6rem;
}
.image_4 {
  width: 12.81rem;
  height: 69.56rem;
}
.group_2 {
  margin: -1.19rem -6.13rem -33.69rem 0;
  padding-bottom: 43.69rem;
  width: 83.69rem;
}
.group_3 {
  padding: 5.5rem 0 18.19rem;
  width: 62.69rem;
}
.image_6 {
  margin-right: 0.94rem;
  width: 35rem;
  height: 37.13rem;
}
.text-wrapper_4 {
  padding: 16.25rem 0 16rem;
  background-image: url('../../images/8283cfc8b6422f0b7508983aea634701.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 35rem;
}
.pos_9 {
  position: absolute;
  right: 0;
  top: 23.69rem;
}
.font_2 {
  font-size: 2.19rem;
  font-family: Inter;
  line-height: 4.88rem;
  font-weight: 600;
  color: #000000;
}
.text_8 {
  line-height: 4.91rem;
  text-shadow: 0 0.063rem #ffe6bc, 0 -0.063rem #ffe6bc, 0.063rem 0 #ffe6bc, -0.063rem 0 #ffe6bc,
    0rem 0.25rem 0.25rem #00000040;
  transform: rotate(-19deg);
}
.text_7 {
  text-shadow: 0 0.063rem #ffe6bc, 0 -0.063rem #ffe6bc, 0.063rem 0 #ffe6bc, -0.063rem 0 #ffe6bc,
    0rem 0.25rem 0.25rem #00000040;
}
.pos_8 {
  position: absolute;
  right: 13.42rem;
  top: 21.77rem;
  transform: rotate(-19deg);
}
.text-wrapper_3 {
  padding: 7.63rem 0;
  background-image: url('../../images/7d8fd5bdc959e76ede0e134a1f7dc91b.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 37.38rem;
}
.pos_3 {
  position: absolute;
  left: 0;
  top: 0;
}
.text_6 {
  color: #fcfee3;
  font-size: 1.88rem;
  font-family: Inknut Antiqua;
  font-weight: 700;
  line-height: 1.78rem;
}
.group_4 {
  padding-top: 29.88rem;
  width: 78.38rem;
}
.pos_5 {
  position: absolute;
  left: 5.31rem;
  right: 0;
  top: 1.19rem;
}
.image_7 {
  width: 78.38rem;
  height: 73.44rem;
}
.image_5 {
  width: 12.75rem;
  height: 69.63rem;
}
.pos_6 {
  position: absolute;
  right: 6.13rem;
  top: 0;
}
.section_4 {
  background-color: #d9d9d9;
  width: 38.19rem;
  height: 47.75rem;
  border-left: solid 0.063rem #000000;
  border-right: solid 0.063rem #000000;
  border-top: solid 0.063rem #000000;
  border-bottom: solid 0.063rem #000000;
}
.pos_7 {
  position: absolute;
  left: 39.69rem;
  top: 20.06rem;
}
.section {
  background-image: linear-gradient(90deg, #ecd0b2 0%, #f4ebdd 100%);
  height: 6rem;
}
.pos_2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.section_2 {
  padding: 0 3.38rem;
  background-image: linear-gradient(90deg, #ecd0b2 0%, #f4ebdd 100%);
  border-left: solid 0.063rem #908686;
  border-right: solid 0.063rem #908686;
  border-top: solid 0.063rem #908686;
  border-bottom: solid 0.063rem #908686;
}
.text {
  color: #3e50bd;
  font-size: 3rem;
  font-family: Inter;
  font-weight: 600;
  line-height: 2.21rem;
}
.group {
  margin-right: 1rem;
}
.text-wrapper {
  padding: 2.38rem 0 2.25rem;
  background-color: #ffffff00;
  overflow: hidden;
  width: 9.38rem;
  height: 6rem;
}
.font {
  font-size: 1.5rem;
  font-family: Inter;
  line-height: 1.39rem;
  color: #000000;
}
.text-wrapper_2 {
  padding: 2.25rem 0;
  background-color: #ffffff00;
  overflow: hidden;
  width: 9.38rem;
  height: 6rem;
}
.text_2 {
  line-height: 1.38rem;
}
.text_3 {
  line-height: 1.39rem;
}
.text_4 {
  line-height: 1.39rem;
}
.text_5 {
  line-height: 1.39rem;
}
.image_2 {
  margin: 0.19rem 0;
  mix-blend-mode: MULTIPLY;
  width: 6rem;
  height: 5.63rem;
}