.ml-150 {
  margin-left: 9.38rem;
}
.ml-240 {
  margin-left: 15rem;
}
.ml-45 {
  margin-left: 2.81rem;
}
.mt-132 {
  margin-top: 8.25rem;
}
.mt-3 {
  margin-top: 0.19rem;
}
.page {
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.section {
  background-image: linear-gradient(90deg, #ecd0b2 0%, #f4ebdd 100%);
  height: 6rem;
}
.section_2 {
  padding: 0 3.38rem;
  background-image: linear-gradient(90deg, #ecd0b2 0%, #f4ebdd 100%);
  border-left: solid 0.063rem #908686;
  border-right: solid 0.063rem #908686;
  border-top: solid 0.063rem #908686;
  border-bottom: solid 0.063rem #908686;
}
.text {
  color: #3e50bd;
  font-size: 3rem;
  font-family: Inter;
  font-weight: 600;
  line-height: 2.21rem;
}
.group {
  margin-right: 1rem;
}
.text-wrapper {
  padding: 2.38rem 0 2.25rem;
  background-color: #ffffff00;
  overflow: hidden;
  width: 9.38rem;
  height: 6rem;
}
.font {
  font-size: 1.5rem;
  font-family: Inter;
  line-height: 1.39rem;
  color: #000000;
}
.text-wrapper_2 {
  padding: 2.25rem 0;
  background-color: #ffffff00;
  overflow: hidden;
  width: 9.38rem;
  height: 6rem;
}
.text_2 {
  line-height: 1.38rem;
}
.text_3 {
  line-height: 1.39rem;
}
.text_4 {
  line-height: 1.39rem;
}
.text_5 {
  line-height: 1.39rem;
}
.image {
  margin: 0.19rem 0;
  mix-blend-mode: MULTIPLY;
  width: 6rem;
  height: 5.63rem;
}
.section_3 {
  background-image: url('../../images/b5c6510c0facc1b13c61d5baaab51475.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.image_2 {
  width: 12.81rem;
  height: 69.56rem;
}
.group_2 {
  margin-left: 11.06rem;
}
.text_6 {
  color: #000000;
  font-size: 2.81rem;
  font-family: Inknut Antiqua;
  font-weight: 600;
  line-height: 2.68rem;
  letter-spacing: 0.31rem;
  text-shadow: 0rem 0.25rem 0.25rem #0000004d, 0rem 0.5rem 0.75rem #00000026;
}
.font_2 {
  font-size: 2.55rem;
  font-family: Inter;
  line-height: 3.06rem;
  font-weight: 600;
  color: #828282;
}
.text_7 {
  margin-left: 2.38rem;
  color: #000000;
  font-size: 2.56rem;
  line-height: 2.46rem;
}
.section_4 {
  margin-right: 0.88rem;
  padding: 0 5.25rem 2.75rem;
  background-color: #ffffff80;
  border-radius: 1.25rem;
}
.section_5 {
  padding: 6.5rem 0;
  background-color: #f1f1f1;
  border-radius: 1.25rem;
}
.image_4 {
  width: 7.38rem;
  height: 6.06rem;
}
.text_8 {
  color: #585858;
  font-size: 2.67rem;
  font-family: Inter;
  font-weight: 600;
  line-height: 2.56rem;
}
.group_3 {
  padding: 0 1.88rem;
}
.text_9 {
  color: #000000;
  font-size: 2.48rem;
  font-family: Inter;
  font-weight: 600;
  line-height: 2.38rem;
}
.equal-division {
  align-self: stretch;
}
.equal-division-item {
  width: 25.63rem;
}
.group_4 {
  padding: 1.25rem 0 5.75rem;
}
.text_10 {
  color: #8cd4e9;
  font-size: 1.25rem;
  font-family: Inter;
  font-weight: 600;
  line-height: 0.94rem;
}
.image_5 {
  width: 6rem;
  height: 6rem;
}
.pos {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.section_6 {
  padding: 0.63rem 0 0.13rem;
  background-image: linear-gradient(289.6deg, #ffffff 5.7%, #eeeeee 30.1%, #ebebeb 60.4%, #3a3a3a 105.1%);
  border-radius: 2.19rem;
  box-shadow: 0.19rem -0.75rem 0.25rem #00000040 inset;
}
.font_3 {
  font-size: 2.55rem;
  font-family: Inter;
  line-height: 3.06rem;
  color: #828282;
}
.text_12 {
  font-size: 2.57rem;
}
.text_13 {
  font-size: 2.57rem;
}
.text_11 {
  color: #eeaa95;
  font-size: 1.36rem;
  font-family: Inter;
  font-weight: 600;
  line-height: 0.99rem;
}
.image_6 {
  border-radius: 0.063rem;
  width: 6rem;
  height: 6rem;
}
.pos_2 {
  position: absolute;
  right: 9.5rem;
  top: 0;
}
.section_7 {
  padding: 0.63rem 0 0.13rem;
  background-image: linear-gradient(298.8deg, #ffffff -5.8%, #eeeeee 22.3%, #ebebeb 73.7%, #584e4e 104.6%);
  border-radius: 2.19rem;
  box-shadow: 0.19rem -0.75rem 0.25rem #00000040 inset;
}
.image_3 {
  margin-left: 2.5rem;
  width: 12.75rem;
  height: 69.44rem;
}